.home-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-around;
    flex-grow: 1;

}
.home-children{
    margin: 1% 1%;
    height: 100%;
    width: 50%;

}